
pre { 
	display: inline;
}

input[type="text"] { 
	border-style: none;
}

.container {
	background-color: rgb(238, 238, 238);
	justify-content: center;
	max-width: 940px;
	margin: 10px auto 10px auto;
	padding: 5px 20px 5px 20px;
	border-style: hidden;
	border-width: 1px;
	border-radius: 5px;
}

h1 {
	font-size: 45px;
	font-style: italic;
	font-family: 'Source Sans Pro', sans-serif;
	color:#008CBA;
	text-align: center;
}

button {
	background-color: #008CBA;
	color: #FFFFFF;
	border: #FFFFFF;
	border-radius:5px;
	font-size: 17px;
	padding:7px 18px;
	transition-duration: 0.4s;
}

.button_green {
	background-color: #4CAF50;
}

.button_green:hover {
	background-color: #02754b;
}

.button_blue {
	background-color: #008CBA;
}

.button_blue:hover {
	background-color: #047aa1;
}

.button_red {
	background-color: #f44336;
}

.button_red:hover {
	background-color: #c72419;
}

.button_orange {
	background-color: #f59921;
}

.button_orange:hover {
	background-color: #ca801f;
}